
body, html {
    background: #f8f8f8;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.remark-editor {
    padding: 10px 10px 0;
}

.remark-editor-toolbar {
    margin: 0 0 5px;
}

.remark-editor-toolbar button {
    background: #555;
    border: none;
    border-radius: 2px;
    box-sizing: content-box;
    color: #eee;
    font: inherit;
    display: inline-block;
    line-height: 1;
    margin: 0 0 5px;
    padding: 5px;
    /* height: 18px; */
    width: 1em;
    vertical-align: top;
}

.remark-editor-toolbar button + button {
    margin-left: 5px;
}

.remark-editor-toolbar .spacer {
    border-left: 1px solid #ddd;
    display: inline-block;
    height: calc(1em + 10px);
    margin: 0 5px 5px;
    vertical-align: top;
}

.remark-editor-input {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: inherit;
    font: inherit;
    margin: 0 0 10px;
    padding: 10px;
    resize: vertical;
    
    height: 200px;
    min-height: 100px;
    width: 100%;
}

.remark-editor-preview {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 0 10px;
    min-height: 100px;
    padding: 10px;
}

.markdown {
    color: #333;
    line-height: 1.6;
}

/* Headings */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    color: #111;
    margin: 0 0 15px;
}

/* Blocks */
.markdown p,
.markdown ul,
.markdown ol,
.markdown table,
.markdown img,
.markdown button,
.markdown pre,
.markdown blockquote {
    margin: 0 0 10px;
}

/* & :--blocks + :--headings {
    margin-top: 15px;
} */


.markdown ol {
    list-style: decimal inside;
    padding-left: 1.3em;
}
.markdown ul {
    list-style: disc;
    padding-left: 1.3em;
}

.markdown ol li,
.markdown ul li {
    margin: 0 0 5px;
}

.markdown hr {
    border: 1px solid #ddd;
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}
    
.markdown code {
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    color: #333;
    font-family: monospace;
    font-size: var(--text-body);
    padding: 2px 5px;
}
    
.markdown pre {
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
}

.markdown pre > code {
    background: none;
    padding: 0;
}
 
.markdown blockquote {
    background: rgba(0,0,0,0.05);
    border-left: 8px solid rgba(0,0,0,0.1);
    padding: 10px;
}

.markdown :last-child {
    margin-bottom: 0;
}

.markdown table {
    width: 100%;
}
.markdown table td {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.markdown table th {
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px;
    text-align: left;
}


/* Colours from MDN wiki. */
code.hljs {
    --black:  #333;
    --blue:   #07a;
    --green:  #690;
    --grey:   #999;
    --orange: #9a6e3a;
    --pink:   #dd4a68;
    --purple: #905;
    
    color: var(--black);
}

/* html */
code .hljs-tag,
code .hljs-name {
    color: var(--pink);
}
code .hljs-attr {
    color: var(--orange);
}
code .hljs-string {
    color: var(--green);
}
code .hljs-comment {
    color: var(--grey);
}

/* javascript */
code .hljs-built_in,
code .hljs-literal {
    color: var(--orange);
}
code .hljs-function {
    color: var(--blue);
}

/* css */
cod .hljs-selector-tag {
    color: var(--pink);
}
code .hljs-selector-class {
    color: var(--orange);
}
code .hljs-attribute {
    color: var(--purple);
}
code .hljs-number {
    color: var(--green);
}
code .hljs-keyword {
    color: var(--blue);
}

